@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal;
}


/*Overall Styles*/

body, header * {
  box-sizing: border-box;
  font-family: 'NokiaPureTWebRegular', Helvetica, Sans-Serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.shadow {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/*Header overall Styles*/

.z-header {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.header-item {
  cursor: pointer;
  height: 50px;
  padding: 0 15px;
  &:hover, &.is-active {
    background: #1967be;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
  span {
    position: relative;
    top: 17px;
  }
}

.z-user .fa, .z-global .fa {
  padding: 0 5px;
}

/*Navigation menu styles*/

.z-navmenu {
  display: inline-block;
  height: 50px;
  width: 40px;
  &:hover, &.is-active {
    background: #1967be;
    cursor: pointer;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
}

.z-menuicon {
  display: inline-block;
  font-size: 24px;
  padding: 8px 10px;
  position: relative;
  text-align: center;
}

/*Navigation menu box styles*/

.z-navmenu-box {
  background: rgba(0, 0, 0, 0.75);
  display: block;
  left: 5px;
  overflow: hidden;
  padding: 3em 1em 1em;
  position: absolute;
  top: 50px;
  width: 800px;
  ul {
    padding-bottom: 40px;
  }
  li {
    display: block;
    font-size: 15px;
    list-style: none;
    padding: 12px;
    &:not(.menu-title):hover {
      background: #333;
      cursor: pointer;
    }
  }
  ul .menu-title {
    text-align: center;
  }
  h3 {
    border-bottom: 1px solid #717171;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 25px;
  }
}

/*Navigation menu box searchbar*/

.z-searchbar {
  height: 33px;
  margin: -15px 0 15px 0;
  overflow: hidden;
  position: relative;
  width: 760px;
}

.z-searchfilter {
  background: #848484;
  border: none;
  box-sizing: content-box;
  color: white;
  height: 21px;
  margin: 0;
  padding: 6px 12px;
  position: absolute;
  right: 471px;
  top: 0;
  width: 76px;
}

.z-input {
  border: none;
  box-sizing: content-box;
  color: #333;
  height: 21px;
  padding: 6px 12px;
  position: absolute;
  right: 34px;
  width: 413px;
}

.z-search {
  background: #2780e3;
  border: none;
  font-size: 1.2em;
  height: auto;
  padding: 6px 10px;
  position: absolute;
  right: 0;
}

/*Zina logo & Project name*/

.z-logo {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  width: 100px;
  img {
    display: inline-block;
    margin-top: 13px;
    width: 90px;
  }
}

.project-name {
  color: #f1f1f1;
  cursor: none;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  h1 {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 17px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/*Global menu styles*/

.z-global {
  display: inline-block;
  position: relative;
}

/*Global menu box styles*/

.z-global-box {
  background: #1967be;
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
}

.z-global-list {
  padding: 0;
  list-style: none;
  text-align: center;
  a {
    display: block;
    margin: 0;
    padding: 15px 0;
    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

/*User menu styles*/

.z-user {
  margin-right: 15px;
  position: relative;
}

/*User menu box styles*/

.z-user-box {
  background: white;
  color: black;
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50px;
  width: 490px;
  z-index: 5;
  a {
    color: #2780e3;
    &:hover {
      color: #23527c;
    }
  }
}

.z-gravatar {
  padding: 1.5em;
  text-align: center;
  width: 45%;
  img {
    background: gray;
    border-radius: 50%;
    width: 100%;
  }
  a {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.z-profile {
  padding: 0 1em;
  width: 54%;
  .profile {
    color: #444;
    display: block;
    margin-top: 10px;
  }
  .email {
    border-bottom: 1px solid #ccc;
    color: #999;
    display: block;
    height: 20px;
    margin-top: 3px;
    padding-bottom: 30px;
  }
  .profilebutton {
    background: #1967be;
    color: white;
    display: block;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-top: 7px;
    text-align: center;
    &:hover {
      background: #074176;
      color: white;
    }
  }
  .about {
    border-top: 1px solid #ccc;
    color: #1967be;
    display: block;
    height: 30px;
    padding-top: 5px;
    text-align: left;
  }
}

.z-logout {
  background: #ccc;
  clear: both;
  height: 55px;
  position: relative;
  width: 100%;
}

.z-logout-btn {
  background: #393e43;
  color: white !important;
  display: inline-block;
  padding: 0.7em;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  &:hover {
    background: #222527;
  }
  .fa {
    padding-left: 0;
  }
}